# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html
[Desktop Entry]
Type=Application
Version=master
Encoding=UTF-8
Name=Innova
Icon=${SNAP}/meta/gui/innova128.png
MimeType=x-scheme-handler/innova;
Exec=innova
Terminal=false
Categories=Office;Finance;
Comment=Innova P2P Hybrid Cryptocurrency
Keywords=internet;bitcoin;innova;
Comment[fr]=Innova, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Innova, eşten eşe kriptografik sanal para birimi